[Unit]
Description=Tidabit Display Controller
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/tidabit1977/controller.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
